
.links-container
  --color_theme: #0a72ef;
  background-color: rgb(37, 37, 37);
  padding: 50px 0 38px 0;
  min-width: var(--width-mini);

  .links-list 
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 0 120px 0
    .links-item 
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .links-title 
        color: #d7d8d9;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 10px;
        font-weight: 500;
        font-family: var(--fontfamily_medium);
      > a 
        color: #9b9ea0;
        font-size: 14px;
        line-height: 25px;
        font-family: "PingFangSC-Thin", "PingFang SC Thin", "PingFang SC",
          sans-serif, "PingFangSC-Thin", "PingFang SC Thin", "PingFang SC",
          sans-serif-200;
  .foot-content 
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    // color: #dcdfe6;
    color: #939393;
    margin: 0;
    > a 
      color: inherit;

  a:hover 
    color: var(--color_theme) !important;


.footer.mobile
  padding: 1px 2.2568rem;
  color: #dddddd;
  font-size: 1.1rem;

.footrigcon 
  padding: 01.7121rem 0 0 0;
  color: #dcdfe6;
  h4 
    margin-top: 0.7877rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.40625rem;
    margin-bottom 0
  .lia 
    a 
      color: #dddddd;
      line-height: 1.5625rem;
    
    span 
      width: 0.0625rem;
      height: 0.9375rem;
      background: #dddddd;
      display: inline-block;
      margin: 0 0.3124rem;