# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main
        
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # - name: prepare for env
    #   shell: bash
    #   run:  |
    #     more $GITHUB_EVENT_PATH

    - name: Invoke workflow in another repo with inputs
      uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: Build CI
        repo: deepflowys/docs-compiler
        token: ${{ secrets.DOCSACTION }}
        ref: 'main'
        inputs: '{ "ref": "${{ github.event.pull_request.head.ref }}"}'